* {
    font-family: 'Exo 2', sans-serif;
    --fontLight: #e0e0e0;
    --fontDark: #1a1a1a;
    --bgDark: #2a2a2a;
}

#header {
    display: flex;
    height: calc(3vh + 3rem);
    font-size: 45px;
    background-color: #1c5aa1;
    color: var(--fontLight);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

#content-main {
    min-height: calc(97vh - 6rem);
    background-color: var(--bgDark);
}

/* special stylings for the container inside the main!! */

/* end special styling */
 
#footer {
    display: flex;
    background-color: #1c5aa1;
    color: var(--fontLight);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 3rem;
}