* {
    font-family: 'Exo 2', sans-serif;
    --fontLight: #e0e0e0;
    --fontDark: #1a1a1a;
    --bgDark: #2a2a2a;
    --bgLight: #c5c5c5;
}

#header {
    display: flex;
    height: calc(3vh + 3rem);
    background-color: #1c5aa1;
    color: var(--fontLight);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

#main-content {
    min-height: calc(97vh - 6rem);
    background-color: var(--bgDark);
    height: 100%;
}

/* special stylings for the main!! */

.bg-orange-400 {
    background-color: #FB923C;
}

/* end special styling */
 
#footer {
    display: flex;
    background-color: #1c5aa1;
    color: var(--fontLight);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 3rem;
}

#forecast-article,
#old-search {
    display: none;
}